@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* * {
  border: 1px solid red;
} */

:root {
  font-family: 'Raleway', sans-serif;
}

#hidden {
  display: none;
}

header,
.content,
.add-book-card,
.checkbox-container {
  display: flex;
}

body {
  margin: 0;
  height: 88vh;
  background-color: rgb(255, 255, 255)
}

header {
  height: 12vh;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5vh;
  padding: 0 4vw; 
  box-shadow: 0px 2px 5px 0px #8b8a8a;
}

button {
  font-size: 2.5vh;
  padding: .6vw 2vw;
  border-radius: 10px;
  border: 2px solid rgb(80, 79, 79);
}

button:hover {
    filter:brightness(125%)
}

.content {
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  margin: 3vw;
}

th {
    min-width: 15vw;
    font-size: 1.4vw;
    padding: 1vw 0;
    background-color: #cacaca;
    
}

tr {
    min-width: 15vw;
    font-size: 1.2vw;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e0e0;
}

td {
    padding: 1vw 0;
}

.add-book-title {
  margin: 0;
  align-self: center;
}

.checkbox-container {
  justify-content: center;
  gap: 10px;
}

.read-it-text {
  font-size: 1.3rem;
}

input {
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(245, 243, 243);
  padding: 5px;
}

.page-mask {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.add-book-card {
    padding: 2vw;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    width: 250px;

    position: fixed;
    left: 35%;
    right: 35%;
    top: 27%;
    background-color: white;
    border:2px solid #000000;
  }

  #delete-button {
    background-color: rgba(190, 3, 3, 0.795);
    color: white;
    border: none;
    border-radius: 3px;
    padding: .25vh 1vw;
    font-size: 1rem;
  }
  
  #Incomplete {
    background-color: #d6d6d6;
    border: none;
    border-radius: 3px;
    padding: .25vh 1vw;
    font-size: 1rem;
  }

  #Complete {
    background-color: rgba(30, 145, 15, 0.87);
    color: white;
    border: none;
    border-radius: 3px;
    padding: .25vh 1vw;
    font-size: 1rem;
  }